*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.contact-title-container {
    background-image: url(../images/contact-header-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.contact-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.contact-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

.contact-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 70%;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* --------------------Left Content------------------------ */

.content-container {
    display: flex;
    flex-direction: column;

    border-right: 1px solid rgb(73, 73, 73);
    padding-right: 100px;
    color: rgb(73, 73, 73);
}

.contact-box,
.time-box,
.service-area-box {
    list-style: none;
}

.contact-info,
.time-info,
.service-area-info {
    padding: 20px;
    line-height: 1.2;
}

.contact-info h2,
.time-info h2,
.service-area-info h2 {
    color: rgb(158, 67, 69);
    padding-bottom: 10px;
}

/* ----------------------------------------------- */

.form-container {
    margin: 0;
    padding-right: 0;
}

.contact-header {
    color: rgb(158, 67, 69);
    font-size: 30px;
    font-weight: bold;
}

.contact-header h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.contact-header p{
    color: rgb(73, 73, 73);
    font-size: 15px;
    padding-bottom: 30px;
}

/* ----------------------------------------------------------------------- */

.form-box {
    align-items: center;
    
}

.info {
    padding: 10px;
}

.info span {
    color: rgb(187, 23, 23);
}

.info-section-1 {
    display: flex;
}

.info-section-2 {
    justify-content: center;
}

.submit-button {
    text-align: center;
    padding-top: 15px;
}

#firstname {
    display: flex;
    padding: 5px;
    padding-right: 50px;
}

#lastname {
    display: flex;
    padding: 5px;
    padding-right: 50px;
}

#email {
    display: flex;
    padding: 5px;
    padding-right: 280px;
}

#phone {
    display: flex;
    padding: 5px;
    padding-right: 280px;
}

#comment {
    display: flex;
    padding: 5px;
    padding-right: 25px;
}

.submit-button {
    position: relative;
    left: 38%;

    font-size: 15px;
    background-color: rgb(167, 58, 60);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;

    margin-top: 2%;
}

/* ----------------------------------------------------------------------- */

@media (max-width: 768px) { /* <!--iPhone--> */
    .contact-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .contact-title-box {
      padding: 20px;
    }
  
    .contact-title-box h2 {
      font-size: 28px;
    }

    .contact-form-container {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .content-container {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;

        border-bottom: 1px solid rgb(73, 73, 73);
    }

    .content-container li {
        line-height: 1.4;
       font-size: 14px;
       font-weight: bold;
    }

    .contact-header {
        width: 100%;
        padding-top: 40px;
        text-align: center;
    }

    .contact-header h2{
        font-size: 36px;
    }

    .contact-header p{
        margin: auto;
        padding: 1;
        width: 70%;
        font-size: 12px;
    }

    .form-box {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .info-section-1,
    .info-section-2,
    .info-section-3 {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .info {
        font-size: 14px;
        width: 50%;
    }

    #firstname,
    #lastname {
    width: 100%;
    padding: 3%; 
    padding-right: 1%;
    }

    #email,
    #phone {
        width: 212%;
        padding: 3%; 
    }

    #comment {
        width: 212%; 
        padding: 2%;
    }

    .submit-button {
        margin-bottom: 5%;
        padding: 10px 30px;
    }
}

@media (min-width: 601px) and (max-width: 991px) { /* <!--iPad & Tablet--> */
    .contact-title-container {
        padding: 30px 20px;
        text-align: center;
      }
    
      .contact-title-box {
        padding: 20px;
      }
    
      .contact-title-box h2 {
        font-size: 28px;
  
      }
  
      .contact-form-container {
          width: 100%;
          flex-direction: column;
          padding: 0;
      }
  
      .content-container {
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0;
  
          border-bottom: 1px solid rgb(73, 73, 73);
      }
  
      .content-container li {
          line-height: 1.4;
         font-size: 14px;
         font-weight: bold;
      }
  
      .contact-header {
          width: 100%;
          padding-top: 40px;
          text-align: center;
      }
  
      .contact-header h2{
          font-size: 36px;
      }
  
      .contact-header p{
          margin: auto;
          padding: 1;
          width: 70%;
          font-size: 12px;
      }

      .form-container {
        margin: 0;
        padding-right: 0;
    }
    
    .form-container {
        margin: 0;
        padding-right: 0;
    }
    
    .contact-header {
        color: rgb(158, 67, 69);
        font-size: 30px;
        font-weight: bold;
    }
    
    .contact-header h2 {
        font-size: 50px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .contact-header p{
        color: rgb(73, 73, 73);
        font-size: 15px;
        padding-bottom: 30px;
    }
    
    /* ----------------------------------------------------------------------- */
    
    .form-box {
        margin: auto;
        padding-left: 21%;
        padding-bottom: 5%;
        width: 100%;
    }
    
    .info {
        padding: 10px;
    }
    
    .info-section-1 {
        display: flex;
    }
    
    .info-section-2 {
        justify-content: center;
    }
    
    .submit-button {
        text-align: center;
        padding-top: 15px;
    }
    
    #firstname,
    #lastname {
        padding: 5px;
        padding-right: 50px;
    }
    
    #email,
    #phone {
        padding: 5px;
        padding-right: 280px;
    }
    
    #comment {
        padding: 5px;
        padding-right: 25px;
    }
    
    .submit-button {
        position: relative;
        left: 30%;
        margin-bottom: 5%;
    }
}