*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

/* Image Slider */
.slider-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100vw; /* Optional if you're dynamically moving */
}

.slide {
  flex: 0 0 100vw;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 640px;
  object-fit: cover;
  display: block;
}

/* Navigation Buttons */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

/* Caption Styling */
.caption-container {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.caption-box {
  text-align: center;
  padding: 10px 20px;
  width: 60%;
}

.caption-box h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.caption-box p {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 25px;
}

.caption-btn {
  background-color: rgb(186, 66, 69);
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.caption-btn:hover {
  background-color: rgb(88, 88, 88);
}

#caption-slide-1 {
  position: absolute;
  left: 0%;
}

#caption-slide-2 {
  position: absolute;
  left: 100%;
}

#caption-slide-3 {
  position: absolute;
  left: 200%;
}

/* Slider Dots */
.slider-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 2;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #727272af;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #ffffffce;
}

/* ----------------------------------- */

.schedule-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 60px;
    background-color: rgb(66, 66, 66);
}

.schedule-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.schedule-box h2 {
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    padding-right: 100px;
}

.schedule-box button {
    font-size: 16px;
    font-style: bold;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}

.schedule-box button:hover {
    background-color: rgb(88, 88, 88);
}

.CHAP-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.CHAP-box {
    color: rgb(68, 68, 68);
    line-height: 1.2;
    font-size: 20px;
    margin-left: 5%;
    width: 25%;
}

.CHAP-box h2 {
    font-size: 36px;
}

.CHAP-box p {
    line-height: 2;
    font-size: 18px;
    width: 100%;
}

.CHAP-image {
    position: relative;
    right: 150px;
}

.CHAP-box span {
    color: rgb(186, 66, 69);
}

.location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
    
}

.location-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 20px;
    width: 35%;
    margin-left: 10%;
    
}

.location-box h2 {
    font-size: 36px;
}

.location-box p {
    width: 80%;
}

.location-box button {
    font-size: 18px;
    line-height: 1.6;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.location-box button:hover {
    background-color: rgb(88, 88, 88);
}

.location-box span {
    color: rgb(186, 66, 69);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;

    background-color:rgb(66, 66, 66);
}

.card {
    max-width: 500px;
    width: 100%; /* increase size of cards */
    background-color: #eeeeee; /* inner card color */
    overflow: hidden;
    box-shadow: 0px, 2px, 4px rgba(0,0,0,0.2);
    margin: 30px; /* changes gap width */ 
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 30px;
}

.card-content h3 {
    color: rgb(59, 59, 59);
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: rgb(65, 65, 65);
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
}

.card-content .readButton {
    display: inline-block;
    padding: 10px 16px;
    background-color: rgb(186, 66, 69);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 40px;
    color: #fff;
}

.card-content .readButton:hover {
    background-color: rgb(88, 88, 88);
}

.card-content .scheduleButton {
    display: inline-block;
    padding: 10px 16px;
    background-color: rgb(186, 66, 69);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 40px;
    color: #fff;
}

.card-content .scheduleButton:hover {
    background-color: rgb(88, 88, 88);
}

.card-content span {
    color: rgb(163, 62, 64);
}

.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.career-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 20px;
    padding-left: 200px;
    width: 50%;
}

.career-box h2 {
    font-size: 36px;
}

.career-box p {
    width: 60%;
}


.career-box button {
    font-size: 18px;
    line-height: 1.6;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.career-box button:hover {
    background-color: rgb(88, 88, 88);
}

.career-box span {
    color: rgb(186, 66, 69);
}

/* --Mobile Optimization-- */

@media (max-width: 991px) {
  .home-container,
    .caption-container {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .slide {
      height: 50vh;
    }
  
    .slide img {
      height: 100%;
      width: 100%;
    }

    .caption-box {
      width: 80%;
      padding: 0;
      margin: auto;
    }
  
    .caption-box h2 {
      font-size: 22px;
      padding: 0%;
      margin: 4%;
    }
  
    .caption-box p {
      font-size: 14px;
      padding: 0%;
      margin: 4%;
    }
  
    .caption-btn {
      position: relative;
      top: 10px;
      padding: 10px 16px;
      font-size: 12px;
    }

    .slider-btn {
      background-color: rgba(0, 0, 0, 0);
      color: #ffffff00;
    }

    .career-box p,
    .CHAP-box p,
    .location-box p {
      font-size: 13px;
      width: 100%;
      padding-right: 20px;
    }

    .CHAP-box h2,
    .career-box h2,
    .location-box h2 {
      font-size: 28px;
      line-height: 1.2;
      padding-right: 20px;
    }

    .career-box button,
    .schedule-box button {
      font-size: 14px;
      padding: 12px 20px;
    }
  
    .schedule-container,
    .CHAP-container,
    .location-container,
    .career-container {
      flex-direction: column;
      padding: 40px 20px;
      text-align: center;
    }
  
    .schedule-container h2 {
      padding: 0 30px 0 0;
      margin: 0;
      line-height: 1.4;
      width: 100%;
      font-size: 14px;
    }
  
    .CHAP-box,
    .location-box,
    .career-box {
      padding: 0;
      width: 100%;
    }
  
    .CHAP-image,
    .career-image,
    .location-image {
      position: static;
      padding: 20px 0;
    }
  
    .CHAP-image {
      width: 50%;
    }
  
    .card {
      width: 100%;
      margin: 20px auto;
    }
  
    .card-container {
      padding: 20px;
    }
  
    .card-content a {
      position: relative;
      right: 38px;
    }
  }

  @media (min-width: 601px) and (max-width: 992px) {
    .home-container,
    .caption-container {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .slide {
      height: 50vh;
    }
  
    .slide img {
      height: 100%;
      width: 100%;
    }

    .caption-box {
      width: 80%;
      padding: 0;
      margin: auto;
    }
  
    .caption-box h2 {
      font-size: 22px;
      padding: 0%;
      margin: 4%;
    }
  
    .caption-box p {
      font-size: 14px;
      padding: 0%;
      margin: 4%;
    }
  
    .caption-btn {
      position: relative;
      top: 10px;
      padding: 10px 16px;
      font-size: 12px;
    }

    .slider-btn {
      background-color: rgba(0, 0, 0, 0);
      color: #ffffff00;
    }

    .CHAP-box,
    .location-box,
    .career-box {
        margin: auto;
    }

    .schedule-box button {
        padding: 5px 26px;
    }

    .CHAP-box p,
    .location-box p {
        font-size: 14px;
        width: 80%;
        margin: auto;
        padding-bottom: 20px;
       
    }

    .CHAP-image {
        width: 30%;
        margin: auto;
        padding: 0;
      }
      
  }

 