*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

/* ----------------------------------------------------------------------- */

.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    font-size: 20px;
    padding: 7%;
    margin: 7%;

    color: rgb(68, 68, 68);
}

.success-container h2 {
    font-size: 36px;
    color: rgb(68, 68, 68);

    padding-bottom: 2%;
}

.success-container p {
    padding-bottom: 2%;
}

.success-container a {
    
    display: flex;
    justify-content: center;
    flex-direction: row;

    padding: auto;
    margin: auto;

    text-decoration: none;
    color: rgb(173, 62, 64);
}

.logo {
    display: flex;
    flex-direction: row;

    padding: auto;
    margin: auto;
}

.logo img {
    max-width: 105px;
    height: auto;
}

.logo h2 {
    margin: auto;
    padding: 0%;
    font-size: 30px;
}

.logo span {
    color: rgb(199, 85, 87);
}