*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

/* ----------------------------------------------------------------------- */

.success-container {
    font-size: 20px;
    margin-top: 3%;
    padding-top: auto;

    color: rgb(68, 68, 68);
}

.success-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    color: rgb(68, 68, 68);
    font-size: 20px;
    line-height: 1.6;

    padding: auto;
    margin: auto;
}

.success-container h2 {
    font-size: 36px;
    color: rgb(68, 68, 68);

    padding-bottom: 1%;
}

.success-container p {
    flex-direction: column;
    text-align: 1.8;
}

.success-container a {
    display: flex;
    justify-content: center;
    flex-direction: row;

    padding: auto;
    margin: auto;

    text-decoration: underline;
    color: rgb(173, 62, 64);
}

.logo {
    margin-top: 8%;
    color: rgb(68, 68, 68);
}

.logo img {
    margin: auto;
    padding: auto;
    max-width: 100px;
}

.logo h2 {
    margin: auto;
    padding: 0%;
    font-size: 30px;
}

.logo span {
    color: rgb(199, 85, 87);
}

@media (max-width: 768px) {
    .success-container {
        padding: 30px;
        text-align: center;
    }

    .success-container h2 {
        line-height: 1.2;
        padding-bottom: 6%;
    }

    .success-container a {
        padding-top: 4%;
    }

    .logo img {
        margin: auto;
        padding: auto;
        max-width: 120px;
    }
   
}

@media (min-width: 601px) and (max-width: 991px) {
    .success-container {
        padding: 30px;
        text-align: center;
    }

    .success-container h2 {
        line-height: 1.2;
        padding-bottom: 6%;
    }

    .success-container a {
        padding-top: 4%;
    }

    .logo img {
        margin: auto;
        padding: auto;
        max-width: 120px;
    }

  }