*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.policy-title-container {
    background-image: url(/Images/Official/contact-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.policy-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.policy-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* --------------------------------------------- */


.billing-service-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;

    width: 100%;
    outline: auto;
}

.billing-service-box {
    text-align: left; 
    line-height: 1.6;
    color: rgb(68, 68, 68);

    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 60%;
}

.billing-service-box h3 {
    font-size: 40px;
    padding-bottom: 30px;
}

.billing-service-box h4 {
    font-size: 18px;
    padding-bottom: 10px;
}

.billing-list {
    line-height: 1.6;
    padding-left: 30px; 
}

/* --------------------------------------- */

@media (max-width: 768px) {
    .policy-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .policy-title-box {
      position: relative;
      padding: 20px;
    }
  
    .policy-title-box h2 {
      font-size: 32px;
      padding: 20px;
    }

    .billing-service-container {
        padding: 40px;
        margin: 0;
        width: 100%;

        font-size: 14px;
        line-height: 1.6;
    }

    .billing-service-box {
        line-height: 1.6;
        text-align: left; 

        width: 100%;
    }

    .billing-service-box h3 {
        font-size: 30px;
    }
}