*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.policy-title-container {
    background-image: url(/Images/Official/contact-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.policy-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.policy-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* --------------------------------------------- */


.patient-rights-service-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;

    margin: 100px;
    padding-left: 100px;
}

.patient-rights-service-box {
    text-align: left; 
    line-height: 1.6;
    color: rgb(68, 68, 68);

    margin-bottom: 20px;
}

.patient-rights-service-box h3 {
    font-size: 40px;
    padding-bottom: 30px;
}

.patient-rights-service-box h4 {
    font-size: 20px;
}

/* --------------------------------------------- */

.agencies-container {
    display: flex;
    align-items: left;
    flex-direction: column;

    border-top: 1px solid black;
    padding-top: 40px;
}

.agencies-box {
    text-align: left; 
    line-height: 1.6;
}

.agencies-box h4{
    font-size: 22px;
}

.agencies-box p{
    font-size: 16px;
}