*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.policy-title-container {
    background-image: url(/images/contact-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.policy-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.policy-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* --------------------------------------------- */


.privacy-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;

    width: 100%;
}

.privacy-box {
    text-align: left; 
    line-height: 1.6;
    color: rgb(68, 68, 68);

    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 60%;
}

.privacy-box h2 {
    font-size: 25px;
}

.privacy-box h3 {
    font-size: 40px;
    padding-bottom: 30px;
}

.privacy-box h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.privacy-list {
    line-height: 1.6;
}

/* --------------------------------------- */

@media (max-width: 768px) {
    .policy-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .policy-title-box {
      padding: 20px;
    }
  
    .policy-title-box h2 {
      font-size: 32px;
      padding: 20px;
    }

    .privacy-container {
        padding: 40px;
        margin: 0;
        width: 100%;

        font-size: 14px;
        line-height: 1.6;
    }

    .privacy-box {
        font-size: 20px;
        line-height: 1.2;
        text-align: left; 

        width: 100%;
    }

    .privacy-box h3 {
        font-size: 30px;
    }
}