*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.application-title-container {
    background-image: url(../../images/application-header-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.application-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.application-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* -------------------------------------------------------- */

.application-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 100px;
    margin-top: 80px;
}

.application-header-box {
    color: rgb(158, 67, 69);
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    padding-bottom: 40px;
}

.form-box {
    margin-left: 5%;
    padding: auto;
}

.info {
    padding: 10px;
}

.info span {
    color: rgb(158, 67, 69);
}

.info-section-1 {
    display: flex;
}

.info-section-2 {
    display: flex;
}

.info-section-3 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.submit-button {
    position: relative;
    left: 36%;

    font-size: 15px;
    background-color: rgb(167, 58, 60);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;

    margin-top: 2%;
}

/* --------------------------------------------------------- */

#firstname,
#lastname,
#email,
#phone {
    display: flex;
    padding: 5px;
    padding-right: 100px;
}

#position {
    display: flex;
    padding: 5px;
    padding-right: 400px;
}

#file {
    display: flex;
    padding: 5px;
    padding-right: 400px;
}

/* -------------------------------------------- */

@media (max-width: 768px) { /* <!--iPhone--> */
    .application-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .application-title-box {
      padding: 20px;
    }
  
    .application-title-box h2 {
      font-size: 28px;
    }

    .application-header-box {
        text-align: center;
        font-size: 22px;
        width: 100%;
        margin: 0;
        padding: 40px 40px;
        
    }

    .application-form-container {
        outline: auto;
        width: 100%;
        flex-direction: column;

        margin: auto;
        padding: 0; 
    }

    .form-box {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .info-section-1,
    .info-section-2,
    .info-section-3 {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .info {
        font-size: 14px;
        width: 100%;    
    }

    #firstname,
    #lastname,
    #email,
    #phone {
        width: 100%;
        padding: 3%; 
        padding-right: 1%;
        margin: auto;
    }

    #file {
        width: 100%;
        padding: 3%; 
    }

    #position {
        width: 100%;
        padding: 5px 5px;
        margin: auto;
    }

    .submit-button {
        margin-bottom: 5%;
        padding: 10px 30px;
    }
}

@media (min-width: 601px) and (max-width: 992px) { /* <!--iPad & Tablet--> */
    .application-title-container {
        padding: 30px 20px;
        text-align: center;
      }
    
      .application-title-box {
        padding: 20px;
      }
    
      .application-title-box h2 {
        font-size: 28px;
        padding: 20px;
      }
  
      .application-header-box {
          text-align: center;
          font-size: 22px;
          width: 100%;
          margin: 0;
          padding: 40px 40px;
          
      }
  
      .application-form-container {
          width: 100%;
          margin: 0;
          padding: 0; 
      }
  
      .form-box {
        margin: 0;
        padding-left: 10%;
        padding-bottom: 5%;
    }
    
    #firstname,
    #lastname,
    #email,
    #phone {
        display: flex;
        padding: 5px;
        padding-right: 100px;
    }
    
    #position {
        display: flex;
        padding: 5px;
        padding-right: 400px;
    }
    
    #file {
        display: flex;
        padding: 5px;
        padding-right: 400px;
    }
    
    .submit-button {
        position: relative;
        left: 36%;
        margin-bottom: 5%;
    }
}