*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.about-container {
    background-image: url(/Images/Official/header-about-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.about-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.about-box h2 {
    font-size: 40px;
    font-weight: bold;
}

.history-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.history-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 22px;
    padding-left: 140px;
    width: 60%;
}

.history-box h2,
.employee-box h2 {
    font-size: 37px;
}

.history-box p,
.employee-box p {
    width: 75%;
}

.mission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 80px;
    padding-bottom: 80px;

    border-top: 2px solid rgba(17, 17, 17, 0.589);
    border-bottom: 2px solid rgba(17, 17, 17, 0.589);
}

.mission-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 20px;
    width: 50%;
}

.mission-box h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.mission-box p {
    text-align: center;
    line-height: 2;
    font-size: 18px;
}

.employee-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.employee-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 20px;
    padding-left: 200px;
    width: 50%;
}

.employee-box button {
    font-size: 18px;
    line-height: 1.6;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.employee-box button:hover {
    background-color: rgb(88, 88, 88);
}

.values-container {
    color: rgb(68, 68, 68);
    text-align: left;
    width: 100%;
    margin: 0;
}

.values-container h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.values-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.values-section {
    margin: 50px;
    margin-right: 100px;
    width: 20%;
}

.values-section h3 {
    color: rgb(173, 62, 64);
    border-left: 2px solid black;
    padding-left: 10px;
}

.values-section p {
    padding-top: 20px;
}

.history-box span,
.mission-box span,
.employee-box span,
.values-container span {
    color: rgb(186, 66, 69);
}

@media (max-width: 768px) {
    .about-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .about-box {
      padding: 20px;
    }
  
    .about-box h2 {
      font-size: 28px;
      padding: 20px;
    }
  
    .history-container,
    .mission-container,
    .employee-container {
      flex-direction: column;
      padding: 40px 20px;
    }
  
    .history-box,
    .mission-box,
    .employee-box {
      padding: 0;
      width: 100%;
    }

    .history-box h2,
    .mission-box h2,
    .employee-box h2,
    .values-box h2 {
      font-size: 35px;
    }

    .history-box p,
    .mission-box p,
    .employee-box p {
      font-size: 16px;
      width: 100%;
    }
  
    .history-image,
    .employee-image {
      position: static;
      padding: 20px 0;
    }

    .value-container {
        margin: 0;
        padding: 0;
    }

    .values-box {
        flex-direction: column;
    }

    .values-section {
        line-height: 1.4;
        width: 80%;
    }
}