*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.application-title-container {
    background-image: url(/Images/Official/consultation-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.application-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.application-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* -------------------------------------------------------- */

.application-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 100px;
    margin-top: 80px;
}

.application-header-box {
    color: rgb(158, 67, 69);
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    padding-bottom: 40px;
}

.form-box {
    align-items: center;
}

.info {
    padding: 10px;
}

.info span {
    color: rgb(158, 67, 69);
}

.info-section-1 {
    display: flex;
}

.info-section-2 {
    display: flex;
}

.info-section-3 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.submit-button {
    text-align: center;
    padding-top: 15px;
}

/* --------------------------------------------------------- */

#firstname,
#lastname,
#email,
#phone {
    display: flex;
    padding: 5px;
    padding-right: 100px;
}

#position {
    display: flex;
    padding: 5px;
    padding-right: 400px;
}

#file {
    display: flex;
    padding: 5px;
    padding-right: 400px;
}

#submit {
    font-size: 16px;
    line-height: 1.6;

    background-color: rgb(167, 58, 60);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

/* -------------------------------------------- */

@media (max-width: 768px) {
    .application-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .application-title-box {
      padding: 20px;
    }
  
    .application-title-box h2 {
      font-size: 28px;
      padding: 20px;
    }

    .application-header-box {
        text-align: center;
        font-size: 22px;
        width: 100%;
        margin: 0;
        padding: 40px 40px;
        
    }

    .application-form-container {
        width: 100%;
        margin: 0;
        padding: 0; 
    }

    .form-box {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .info-section-1,
    .info-section-2,
    .info-section-3 {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .info {
        font-size: 14px;
        width: 50%;
    }

    #firstname,
    #lastname,
    #email,
    #phone {
        width: 100%;
        padding: 3%; 
        padding-right: 1%;
    }

    #submit {
        font-size: 12px;
        position: relative;
        bottom: 14px;
     }
}

@media (min-width: 601px) and (max-width: 992px) {
    .application-title-container {
        padding: 30px 20px;
        text-align: center;
      }
    
      .application-title-box {
        padding: 20px;
      }
    
      .application-title-box h2 {
        font-size: 28px;
        padding: 20px;
      }
  
      .application-header-box {
          text-align: center;
          font-size: 22px;
          width: 100%;
          margin: 0;
          padding: 40px 40px;
          
      }
  
      .application-form-container {
          width: 100%;
          margin: 0;
          padding: 0; 
      }
  
      .form-box {
        margin: 0;
        padding-left: 10%;
        padding-bottom: 5%;
    }
    
    #firstname,
    #lastname,
    #email,
    #phone {
        display: flex;
        padding: 5px;
        padding-right: 100px;
    }
    
    #position {
        display: flex;
        padding: 5px;
        padding-right: 400px;
    }
    
    #file {
        display: flex;
        padding: 5px;
        padding-right: 400px;
    }
    
    #submit {
        position: relative;
        right: 50px;
        bottom: 10px;
        font-size: 16px;
        padding: 10px 25px;
    }
}