*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.careers-title-container {
    background-image: url(/Images/Official/header-career-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.careers-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.careers-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* --------------------------------------------- */

.careers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
                        
.careers-box {
    text-align: center; 
    color: rgb(68, 68, 68);
    line-height: 1.6;
    font-size: 20px;

    margin: 60px;
    margin-bottom: 60px;
}

.careers-box {
    text-align: center; 
    color: rgb(68, 68, 68);
    line-height: 1.6;
    font-size: 20px;

    margin: 60px;
    margin-bottom: 60px;
}

.careers-box p {
    text-align: center; 
    line-height: 1.6;

    margin: auto;
    width: 70%;
}

.careers-box h2 {
    font-size: 45px;
    padding-bottom: 30px;
}

.careers-box span {
    color: rgb(186, 66, 69);
}

.service-navbar-container {
    color: rgb(68, 68, 68);
    font-size: 20px;
    padding-left: 30px;
}

.service-nav {
    margin: 30px;
    text-align: left; 
    color: rgb(68, 68, 68);
    line-height: 1.2;
    
    font-size: 22px;
    list-style: none;

    position: relative;
    right: 30px;
}

.service-nav a{
    display: block;
    color: rgb(173, 49, 51);
    text-decoration: none;

    border: 1px solid hsla(0, 0%, 13%, 0.11);
    padding: 15px;
    padding-right: 940px;
}

.service-nav a:hover {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.432);
    color: hsl(0, 0%, 31%) ;
}

/* --------------------------------------------- */

@media (max-width: 768px) {
    .careers-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .careers-title-box {
      padding: 20px;
    }
  
    .careers-title-box h2 {
      font-size: 28px;
    }

    .careers-box {
      text-align: center;
      padding-bottom: 40px;
      margin: 0;
      width: 100%;
    }

    .careers-box h2 {
      flex-direction: row;
      

      line-height: 1.4;
      font-size: 30px;

      margin: 0;
      padding: 1;
      width: 100%;
    }

    .careers-box p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        width: 100%;
        line-height: 1.6;
      }
  
    .careers-container,
    .service-navbar-container {
      flex-direction: column;
      padding: 40px 20px;
      text-align: left;
    }

    .service-navbar-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .service-navbar-container h4 {
        width: 100%;
        margin: 0;
        font-size: 16px;
        text-align: center;
    }

    .service-nav {
        width: 100%;
    }

    .service-nav a{
        text-align: center;
        font-size: 16px;
        border: 1px solid hsla(0, 0%, 13%, 0.11);
        padding: 10px;
        margin: 0;
    }
}

@media (min-width: 601px) and (max-width: 991px) {
    .careers-title-container {
        padding: 30px 20px;
        text-align: center;
      }
    
      .careers-title-box {
        padding: 20px;
      }
    
      .careers-title-box h2 {
        font-size: 28px;
      }
  
      .careers-box {
        text-align: center;
        padding-bottom: 40px;
        margin: 0;
        width: 100%;
      }
  
      .careers-box h2 {
        flex-direction: row;
        
  
        line-height: 1.4;
        font-size: 30px;
  
        margin: 0;
        padding: 1;
        width: 100%;
      }
  
      .careers-box p {
          margin: 0;
          padding: 0;
          font-size: 14px;
          width: 100%;
          line-height: 1.6;
        }
    
      .careers-container,
      .service-navbar-container {
        flex-direction: column;
        padding: 40px 20px;
        text-align: left;
      }
  
      .service-navbar-container {
          width: 100%;
          margin: 0;
          padding: 0;
          
      }
  
      .service-navbar-container h4 {
        width: 100%;
        margin: 0;
        font-size: 16px;
        text-align: center;
        padding-bottom: 20px;
      }
  
    .service-nav {
        width: 70%;
        margin: auto;
        
      }
  
    .service-nav a {
        text-align: center;
        font-size: 16px;
        border: 1px solid hsla(0, 0%, 13%, 0.11);
        padding: 10px;
        margin: 0;
    }
  }