*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

span {
    color: rgb(158, 67, 69);
}

.consultation-title-container {
    background-image: url(/Images/Official/consultation-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.consultation-title-box{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px;
}

.consultation-title-box h2 {
    font-size: 40px;
    font-weight: bold;
}

/* -------------------------------------------------------- */

.consultation-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 100px;
    margin-top: 80px;
}

.consultation-header-box {
    color: rgb(82, 82, 82);
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    padding-bottom: 20px;
    width: 40%;
}

.form-box {
    align-items: center;
}

.info {
    padding: 10px;
}

.info-section-1 {
    display: flex;
}

.info-section-2 {
    display: flex;
}

.info-section-3 {
    display: flex;
    flex-direction: column;
}
.submit-button {
    text-align: center;
    padding-top: 15px;
}

/* --------------------------------------------------------- */

#firstname,
#lastname,
#email,
#phone {
    display: flex;
    padding: 5px;
    padding-right: 100px;
}

#reason {
    display: flex;
    padding: 5px; 
    padding-right: 386px;
}

#comment {
    display: flex;
    padding: 5px;
    padding-right: 127px;
}

#submit {
    font-size: 16px;
    line-height: 1.6;

    background-color: rgb(167, 58, 60);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

/* --------------------------------------------------------- */

@media (max-width: 768px) {
    .consultation-title-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .consultation-title-box {
      padding: 20px;
    }
  
    .consultation-title-box h2 {
      font-size: 24px;
    }

    .consultation-header-box {
        font-size: 22px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .consultation-form-container {
        width: 100%;
        margin: 0;
        padding: 0; 
    }

    .consultation-header-box {
        text-align: center;
        width: 100%;
        font-size: 18px;
        margin: 40px;
    }

    .form-box {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .info-section-1,
    .info-section-2,
    .info-section-3 {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .info {
        font-size: 14px;
        width: 50%;
    }

    #firstname,
    #lastname,
    #email,
    #phone {
    width: 100%;
    padding: 3%; 
    padding-right: 1%;
    }

    #reason {
        width: 212%;
        padding: 3%; 
    }

    #comment {
        width: 212%; 
        padding: 2%;
    }

    #submit {
       position: relative;
       bottom: 10px;
    }
    
}
