*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.home-container {
    padding: 150px 454px;
    background-image: url(/Images/Official/HomePage-Image-Slide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.home-box {
    position: relative;
    bottom: -20px;
}

.home-box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    padding: 30px 100px;
}

.home-box-section h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 40px;
}

.home-box-section p {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    padding-bottom: 40px;
}

.home-box-section button {
    font-size: 16px;
    font-style: bold;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}

.home-box-section button:hover {
    background-color: rgb(88, 88, 88);
}

.schedule-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 60px;
    background-color: rgb(66, 66, 66);
}

.schedule-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.schedule-box h2 {
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    padding-right: 100px;
}

.schedule-box button {
    font-size: 16px;
    font-style: bold;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}

.schedule-box button:hover {
    background-color: rgb(88, 88, 88);
}

.CHAP-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.CHAP-box {
    color: rgb(68, 68, 68);
    line-height: 1.2;
    font-size: 20px;
    margin-left: 5%;
    width: 25%;
}

.CHAP-box h2 {
    font-size: 36px;
}

.CHAP-box p {
    line-height: 2;
    font-size: 18px;
    width: 100%;
}

.CHAP-image {
    position: relative;
    right: 150px;
}

.CHAP-box span {
    color: rgb(186, 66, 69);
}

.location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
    
}

.location-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 20px;
    width: 35%;
    margin-left: 10%;
    
}

.location-box h2 {
    font-size: 36px;
}

.location-box p {
    width: 80%;
}

.location-box button {
    font-size: 18px;
    line-height: 1.6;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.location-box button:hover {
    background-color: rgb(88, 88, 88);
}

.location-box span {
    color: rgb(186, 66, 69);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;

    background-color:rgb(66, 66, 66);
}

.card {
    max-width: 500px;
    width: 100%; /* increase size of cards */
    background-color: #eeeeee; /* inner card color */
    overflow: hidden;
    box-shadow: 0px, 2px, 4px rgba(0,0,0,0.2);
    margin: 30px; /* changes gap width */ 
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 30px;
}

.card-content h3 {
    color: rgb(59, 59, 59);
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: rgb(65, 65, 65);
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
}

.card-content .readButton {
    display: inline-block;
    padding: 10px 16px;
    background-color: rgb(186, 66, 69);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 40px;
    color: #fff;
}

.card-content .readButton:hover {
    background-color: rgb(88, 88, 88);
}

.card-content .scheduleButton {
    display: inline-block;
    padding: 10px 16px;
    background-color: rgb(186, 66, 69);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 40px;
    color: #fff;
}

.card-content .scheduleButton:hover {
    background-color: rgb(88, 88, 88);
}

.card-content span {
    color: rgb(163, 62, 64);
}

.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.career-box {
    color: rgb(68, 68, 68);
    line-height: 1.4;
    font-size: 20px;
    padding-left: 200px;
    width: 50%;
}

.career-box h2 {
    font-size: 36px;
}

.career-box p {
    width: 60%;
}


.career-box button {
    font-size: 18px;
    line-height: 1.6;

    background-color: rgb(186, 66, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.career-box button:hover {
    background-color: rgb(88, 88, 88);
}

.career-box span {
    color: rgb(186, 66, 69);
}

@media (max-width: 991px) {
    .home-container {
      padding: 30px 20px;
      text-align: center;
    }
  
    .home-box-section {
      padding: 20px;
      width: 100%;
    }
  
    .home-box-section p,
    .career-box p,
    .CHAP-box p,
    .location-box p {
      font-size: 13px;
      width: 100%;
      padding-right: 20px;
    }
  
    .home-box {
      width: 100%;
    }
  
    .home-box-section h2,
    .CHAP-box h2,
    .career-box h2,
    .location-box h2 {
      font-size: 28px;
      line-height: 1.2;
      padding-right: 20px;
    }
  
    .home-box-section button,
    .career-box button,
    .schedule-box button {
      font-size: 14px;
      padding: 12px 20px;
    }
  
    .schedule-container,
    .CHAP-container,
    .location-container,
    .career-container {
      flex-direction: column;
      padding: 40px 20px;
      text-align: center;
    }
  
    .schedule-container h2 {
      padding: 0 30px 0 0;
      margin: 0;
      line-height: 1.4;
      width: 100%;
      font-size: 14px;
    }
  
    .CHAP-box,
    .location-box,
    .career-box {
      padding: 0;
      width: 100%;
    }
  
    .CHAP-image,
    .career-image,
    .location-image {
      position: static;
      padding: 20px 0;
    }
  
    .CHAP-image {
      width: 50%;
    }
  
    .card {
      width: 100%;
      margin: 20px auto;
    }
  
    .card-container {
      padding: 20px;
    }
  
    .card-content a {
      position: relative;
      right: 38px;
    }
  }

  @media (min-width: 601px) and (max-width: 992px) {
    .CHAP-box,
    .location-box,
    .career-box {
        margin: auto;
    }

    .schedule-box button {
        padding: 5px 26px;
    }

    .CHAP-box p,
    .location-box p {
        font-size: 14px;
        width: 80%;
        margin: auto;
        padding-bottom: 20px;
       
    }

    .CHAP-image {
        width: 30%;
        margin: auto;
        padding: 0;
      }
  }